{{extend 'layout_about.html'}}
<h2>Mutual Exclusion Rule Mining in Transaction Databases</h2>
<h5>- by Hardik Modi, under the guidance of Dr. Amit Awekar</h5>
<h3>Our Idea, In simple words</h3>
<p>
It is a simple idea. many a times, I guess all of us have faced a
situation where we say "its either him or me".
<p>
Imagine I need to form a team for the game this week end. But the hard
part is, in my group I have friends who had a fight earlier. Such people
do not want to play together. So finding all such pairs, is an important
thing to do. The only way I can make out such pairs is seeing their
conversation, typed in a book, lets call it  THE BIG BIG BOOK OF
CONVERSATIONS.
<p>
Just to make it harder, say I have 5,000 friends and the book has
5,000,000 lines. Making sense out this BIG BOOK and finding all pairs that
can not play in a team is an exciting thing to do. Knowing facts like
these, has got lot of uses. Like knowing what two goods are not bought
together can help me save some space or money for my store.
<p>
    Finding answers to such questions, is really fun. Our algorithm <i>M-Apriori</i> does that. It is 197 times faster then naive way of mining mutual exclusion rules.
    
    <h3> Abstract </h3>
<p>
Association Rule Mining is one of the fundamental and well explored Data Mining
techniques. Association Rules provide knowledge such as; if milk is bought then with high probability tea is bought too. In this work we present Mutual Exclusion Rules (MER). MER brings out itemsets from a transaction dataset that do not overlap. As an example of MER; In a
transaction either Coke is bought or Pepsi is bought, but not both. MER has applications such
deciding optimum caching strategy, introducing diversity in top-k search results and identifying
competitors in market. 
<p>
Our deﬁnition of MER fundamentally diﬀers from Association Rules (AR) as a result
no existing AR mining algorithm can be tweaked to mine MER. Moreover, unlike AR, MER are
not one way implications; rather they are two way implications. To the best of our knowledge,
we could ﬁnd only one work on MER. However, their deﬁnition of MER is diﬀerent then ours.
Our work is ﬁrst of its kind and is organized into two major tasks

<p>
First, we formally deﬁne the problem of mining MER. Here we introduce the notion
of ‘OR’ed itemsets and argue its importance. Based on ‘OR’ed itemsets, we deﬁne support
and conﬁdence. Support for an itemset signiﬁes popularity, it is measured as the percentage of
transactions that contain either item from the itemset. Conﬁdence depicts the trust in the rule.
Higher the value of conﬁdence means more disjoint are the itemsets with respect to transactions.

<p>
Next, we prove if support of an itemset is less than a given threshold, it implies support
of all its subsets are below the threshold. Leveraging on this monotonic property, we present an
apriori-like algorithm M-Apriori to prune ‘OR’ed itemset lattice. We have mined two real life
datasets to justify application and relevance of MER. To verify speedup, we compare our algorithm with brute force approach to mine MER. Experiments conﬁrm, our algorithm achieves
197 times speedup and outperforms brute force.

<p>
Some of the possible directions to explore in MER are, faster parallelized algorithms,
alternate interestingness measures, new strategies to prune ‘OR’ed frequent itemset lattice.

<h3> Report </h3>
<form action="{{=URL(f='getReport')}}">
<INPUT type="submit" value="Download"></form>
