{{extend 'layout.html'}}


<h3>What are Mutual Exclusion Rules</h3>
<p>
    <strong>Association Rules </strong>from a dataset provide knowledge such as; <i><strong>if milk is bought then with high probability tea is bought too</strong></i>. Association Rules depict togetherness or co-occurance. On the hand an example of <strong>Mutual Exclusion Rules</strong> is <i><strong> in a transaction either Coke is bought or Pepsi is bought, but not both</strong></i>. Mutual Exclusion Rules depict disjointness or exclusive nature of itemsets. {{=A('Read more', _href=URL('aboutUs'))}} <br><br>
</p>

<h4>{{=T('What am I supposed to do ?')}}</h4>
<form action="{{=URL(f='downloadSampleDS')}}">
<ol>    
    <li>Create a small transaction file with <strong>TAB</strong> as a delimiter between items and each line ending with a new line. <strong> OR </strong> You can have a look at <INPUT type="submit" value="Sample Dataset">and edit it</li>
    
    <li>Upload the dataset file with the help of below button</li>
    <li>Provide a popularity threshold <i>minsup </i> (It should be a value between 0 and 1, inclusive). This informs the algorithm that you are interested in only those itemset, that occur in <i>minsup</i> fraction of transactions</li>
    <li>In the same way provide a <i>minconf</i> threshold (a value between 0 and 1, inclusive). It means the rule must be atleast true of <i> minconf </i> fraction of interesting transactions</li>  
</ol></form>
<br>
<p> {{=form}}</p>
