{{extend 'layout.html'}}
<h3>Summary</h3>
<table border="0" cellpadding="5">
{{for h in hdr:}}<th>{{=h}}</th>{{pass}}
<tr>
  {{for s in summ:}}<td>{{=s}}</td>{{pass}}
</tr>
</table>
<h3>Number of Rules</h3>
{{=nrules}}
<br>
<h3>Top 10 Rules</h3>
<ul>
{{for r in rules:}}<li>{{=r}}</li>{{pass}}
</ul>
<h3>How do I interpret them ?</h3>
<p>
A rule {x,y} exclusive of {z} with confidence 0.8, means if a transaction contains <i>x</i> or <i>y</i> then with 80% probability it will not contain <i>z</i>. <br>
</p>
<p>   
    So the rule <strong>{{=rules[0]}}</strong> means,<br>
    <ul>
        <li>A transaction that contains <strong>{{=rules[0].split(" exclusive ")[0].replace(", "," OR ")}}</strong> will not contain <strong>{{=rules[0].split(" exclusive ")[1].split(':')[0].replace(','," OR ")}} </strong>. </li>
        <li>Also transactions that contain <strong>{{=rules[0].split(" exclusive ")[0].replace(", "," OR ")}}</strong> and transactions that contain <strong>{{=rules[0].split(" exclusive ")[1].split(':')[0].replace(','," OR ")}} </strong> overlap {{=100-int(rules[0].split(" exclusive ")[1].split(':')[01].replace(','," OR "))*100}} % of times in the datasets </li>
</ul>

<h3>Download Entire Result File</h3>
{{=A('Download File', _href=URL('getFile',vars=dict(allrulesfile=allrulesfile)))}}
